<% include ../partials/header.ejs %>

    <!-- CONTENT PAGE FOR CONTACT -->
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>If you jave any questions feel free to contact me using the following form</legend>
                        <div class="form-group">
                            <label for="inputName" class="col-md-2 control-label">Name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="inputName" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-md-2 control-label">Email</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textArea" class="col-md-2 control-label">Message</label>
                            <div class="col-md-10">
                                <textarea class="form-control" id="message" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-lg-offset-2">
                                <button type="reset" class="btn btn-default"><i class="fa fa-repeat" aria-hidden="true"></i> Clear</button>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane" aria-hidden="true"></i> Sent</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <% include ../partials/footer.ejs %>